        table {
            margin: auto;
            font-size: 30px
        }

        .col {
            background-color: red;
        }

        .row {
            background-color: green;
        }

        .both {
            background-color: blue;
        }